html, body {
	padding: 0;
	margin: 0;
	background: #659696;
}

#bokusu {
	margin: 40px;
	
	/*left: 0;
	line-height: 200px;
	margin: auto;
	margin-top: -100px;
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;*/
}

#bokusu img {
	height: 50px;
}

#bokusu h1 {
	line-height: 10px;
}

#bokusu input {
	border: 4px solid #5E6969;
	border-color: #FFFFFF;
	width: 250px;
	background: #FFFFFF;
	font-size: 12px;
	font-family: monospace;
}

#bokusu input::-moz-placeholder {
	color: #9AB7B7;
	font-family: monospace;
}

#mugi img {
	height: 200px;
}

#mugi #footer {
	position: fixed;
	bottom: 0;
	right: 0;
}
